@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@import "tailwindcss";

@layer base {
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  @apply bg-white text-black font-sans font-light;
  }
}

@layer components {
.wrapper {
  @apply w-[1280px] mx-auto my-[50px];
}

header {
  @apply relative;
}

header .logo {
  @apply text-[70px] font-extrabold ml-13;
}

header ul.nav {
  @apply float-right list-none mt-4 mr-10;
}

header ul.nav li {
  @apply inline ml-6 cursor-pointer transition-opacity duration-400 ease-in-out;
}

header ul.nav li:hover {
  @apply opacity-50;
}

header .shop-cart-button {
  @apply float-right text-2xl mt-3 cursor-pointer transition-transform duration-500 ease-in-out;
}

header .shop-cart-button:hover,
header .shop-cart-button.active {
  @apply text-red-900 scale-150;
}

header .shop-cart {
  @apply absolute top-7 right-0 w-[450px] bg-amber-100 p-5 shadow-lg z-50;
}

header .shop-cart .empty h2,
header .shop-cart .item h2,
header .shop-cart .sum  {
  @apply text-[20px] font-semibold mb-5;
} 

header .shop-cart .item {
  @apply w-full flex items-center justify-between mb-5;
}

header .shop-cart .item p {
  @apply text-gray-500 font-semibold
}

header .shop-cart .item img {
  @apply w-[70px] h-[70px] object-cover rounded mr-5;
}

header .shop-cart .item .delete-icon {
  @apply text-red-950 cursor-pointer transition-transform duration-500;
}

header .shop-cart .item .delete-icon:hover {
  @apply text-red-950 scale-150;
}



header .banner {
  @apply my-12 w-full h-[500px] bg-cover bg-center relative;
  background-image: url('./img/banner.jpg');
  background-blend-mode: multiply;
}

header .banner::after {
  content: "Discover new flavors";
  position: absolute;
  top: 200px;
  left: 50px;
  width: 700px;
  font-size: 40px;
  color: black;
}

.categories  div {
  @apply inline-block bg-amber-100 rounded-full px-5 py-2 mb-6 mr-4 cursor-pointer;
}

.categories div:hover {
  @apply border-red-900 scale-110;
}

main {
  @apply w-full flex flex-wrap justify-between;
}

main .item {
  @apply w-[30%] mb-12 bg-amber-100 relative overflow-hidden pb-5 rounded;
}

main .item img {
  @apply w-full transition-transform duration-500 ease-in-out;
}

main .item img:hover {
  @apply scale-105;
}

main h2,
main p, 
main b {
  @apply mx-5 my-2 text-black
}

main b {
  @apply text-red-900;
}

main .add-to-cart {
  @apply absolute right-5 bottom-5 bg-red-900 text-white rounded-full w-9 h-9 flex items-center justify-center cursor-pointer font-semibold p-0;
}

main .add-to-cart:hover {
  @apply absolute right-5 bottom-5 bg-red-900 text-white rounded-full cursor-pointer font-semibold text-center leading-[35px] transition-transform duration-500 scale-110;
}

footer {
  @apply text-center mt-24;
}

.card{
  @apply border border-gray-300 rounded shadow-md p-5 m-2 text-center max-w-[250px] inline-block;
}

.card .card-image{
  @apply max-w-[50%] h-auto rounded-md mb-2;
}

.search-container {
  @apply my-6 flex justify-center;
}

.search-input {
  @apply w-full max-w-md px-4 py-3 border border-gray-300 rounded-lg text-base focus:outline-none focus:ring-2 focus:ring-red-900 focus:border-red-900 transition-shadow transition-colors duration-300;
}


}