.card{
  border: 1px solid rgb(223, 216, 216);
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  padding: 20px;
  margin: 10px;
  text-align: center;
  max-width: 250px;
  display: inline-block;
}

.card .card-image{
  max-width: 60%;
  height: auto;
  border-radius: 6%;
  margin-bottom: 10px;
}

.card .card-title{
  font-family: Arial, sans-serif;
  margin: 0;
  color: grey;
}

.card .card-text{
  font-family: Arial, sans-serif;
  color: grey;
}

.card .card-button{
  background-color: green;
  color:black;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: ponter;
}

.button{
  background-color: green;
  color:black;
  padding: 10px 20px;
  border-radius: 5px;
  border:none;
  cursor: pointer;
}

.card .card-TypeOfCoffee{
  font-family: Arial, sans-serif;
  font-size: 2em;
  padding: 10px;
  border: 1px solid gray;
}

